<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>

  <!--Main nav Navigation-->
  
<main class="container" style="height: 1000px;">
  <div class="jumbotron">
    <h1 class="display-4" style="color: rgb(6, 19, 19); font-size: 100px; font-family: fantasy" >Coders Universe</h1>
    <h3 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;" >I am Munish Bali</h3>
    <h5 style="font-family: fantasy;">Developer.Designer.Freelancer</h5>


    
  <!-- Page navigation buttons -->
  <div class="container" style="margin-top: 30px;">
    <a href="/about"><button type="button" class="btn btn-dark">About Me</button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/projects"><button type="button" class="btn btn-secondary">Projects</button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/services"><button type="button" class="btn btn-dark">Services</button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/contact"><button type="button" class="btn btn-secondary">Contact Me</button></a>
  </div>

  <br><img class="myimg" src="/Assets/images/code.jpg" alt=" Coding Life"  height="600px" width="600px"><h2>Go Coders.</h2>
<!-- 
  <div class="card" style="align-items:start; width: 18rem;"style="align-content: flex-start;">
  <br><img class="myimg" src="/Assets/images/ccode.jpg" alt=" Coding Life" height="200px" width="200px"><h2>Go Coders.</h2>
  <br><img class="myimg" src="/Assets/images/cplus.jpg" alt=" Coding Life"height="200px" width="200px"><h2>Go Coders.</h2>
  </div>
  <div class="card" style="align-items:end; width: 18rem;"style="align-content: flex-start;">
  <br><img class="myimg" src="/Assets/images/itcode.jpg" alt=" Coding Life"height="200px" width="200px"><h2>Go Coders.</h2>
  <br><img class="myimg" src="/Assets/images/cyber.jpg" alt=" Coding Life"height="200px" width="200px"><h2>Go Coders.</h2>
  </div>
  <div class="card" style="align-items:start; width: 18rem;"style="align-content: flex-start;">
  <br><img class="myimg" src="/Assets/images/logocode.png" alt=" Coding Life"height="200px" width="200px"><h2>Go Coders.</h2>
  <br><img class="myimg" src="/Assets/images/prog.jpg" alt=" Coding Life"height="200px" width="200px"><h2>Go Coders.</h2>
  </div>
  <div class="card" style="align-items:end; width: 18rem;"style="align-content: flex-start;">
  <br><img class="myimg" src="/Assets/images/speedcode.png" alt=" Coding Life"height="200px" width="200px"><h2>Go Coders.</h2>
  <br><img class="myimg" src="/Assets/images/think.jpg" alt=" Coding Life"height="200px" width="200px"><h2>Go Coders.</h2>
  </div>
  <div class="card" style="width: 18rem;"style="align-content: flex-start;">
  <br><img class="myimg" src="/Assets/images/prog.jpg" alt=" Coding Life"height="200px" width="200px"><h2>Go Coders.</h2>
  <br><img class="myimg" src="/Assets/images/cone.png" alt=" Coding Life"height="200px" width="200px"><h2>Go Coders.</h2>
</div> -->
</div>
  <main>

    
  <!--<h1><%= title %></h1>-->
  <!--<p>Welcome to the <%= title %> Page</p>-->
  <!--Script section-->
  <%-include partials/bottom_nav.ejs%>
  <%-include partials/footer.ejs%>




